.toollink {
	LINE-HEIGHT: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #999999; FONT-SIZE: 10px; FONT-WEIGHT: normal
}
.headingbold {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #bf697b; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.bottomlink {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #6f2e43; FONT-SIZE: 10px
}
.whitetextlink {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 12px
}
.hilightlink {
	LINE-HEIGHT: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #999999; FONT-SIZE: 10px; FONT-WEIGHT: normal
}
.headingbolddark {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #330000; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.leftlinkdark {
	LINE-HEIGHT: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.bodytext {
	LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #333333; FONT-SIZE: 11px
}
.list {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #333333; FONT-SIZE: 10px
}
.headingboldmedium {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #bf697b; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.tableheading {
	BACKGROUND-COLOR: #bf697b; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 10px; FONT-WEIGHT: bold
}
.bodytextbold {
	FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #333333; FONT-SIZE: 10px; FONT-WEIGHT: bold
}
.th_toollink {
	LINE-HEIGHT: normal; FONT-FAMILY: "Microsoft Sans Serif"; COLOR: #999999; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.th_headingbold {
	FONT-FAMILY: "Microsoft Sans Serif"; COLOR: #bf697b; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.th_bottomlink {
	FONT-FAMILY: "Microsoft Sans Serif"; COLOR: #6f2e43; FONT-SIZE: 12px
}
.th_whitetextlink {
	FONT-FAMILY: "Microsoft Sans Serif"; COLOR: #ffffff; FONT-SIZE: 14px
}
.th_hilightlink {
	LINE-HEIGHT: normal; FONT-FAMILY: "Microsoft Sans Serif"; COLOR: #999999; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.th_headingbolddark {
	FONT-FAMILY: "Microsoft Sans Serif"; COLOR: #330000; FONT-SIZE: 14px; FONT-WEIGHT: bolder
}
.th_leftlinkdark {
	LINE-HEIGHT: normal; FONT-FAMILY: "Microsoft Sans Serif"; FONT-SIZE: 14px; FONT-WEIGHT: normal
}
.th_bodytext {
	FONT: 12px/22px Tahoma, sans-serif; COLOR: #333333
}
.th_list {
	FONT-FAMILY: "Microsoft Sans Serif"; COLOR: #333333; FONT-SIZE: 12px
}
.th_headingboldmedium {
	FONT-FAMILY: "Microsoft Sans Serif"; COLOR: #0066cc; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.th_tableheading {
	BACKGROUND-COLOR: #1573a5; FONT-STYLE: normal; FONT-FAMILY: "Microsoft Sans Serif"; COLOR: #ffffff; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.th_bodytextbold {
	FONT-STYLE: normal; FONT-FAMILY: "Microsoft Sans Serif"; COLOR: #333333; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
