BODY {
	FONT-FAMILY: arial; BACKGROUND: #ffffff; COLOR: #000000; FONT-SIZE: 12pt
}
A {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
TD.leftnav {
	DISPLAY: none
}
TD.toplink {
	DISPLAY: none
}
TD.topmenu {
	DISPLAY: none
}
TD.bottomnav {
	DISPLAY: none
}
