.dhx_tabbar_zoneV {
	POSITION: relative
}
.dhx_tabbar_zoneVB {
	POSITION: relative
}
.dhx_tabbar_zone .dhx_tablist_zone {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.dhx_tabbar_zoneB .dhx_tablist_zone {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.dhx_tabbar_zoneV .dhx_tablist_zone {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.dhx_tabbar_zoneVB .dhx_tablist_zone {
	POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.dhx_tabcontent_sub_zone {
	PADDING-BOTTOM: 0px !important; PADDING-LEFT: 0px !important; WIDTH: 100%; PADDING-RIGHT: 0px !important; HEIGHT: 100%; OVERFLOW: auto; PADDING-TOP: 0px !important
}
.dhx_tabcontent_zone {
	POSITION: relative; BACKGROUND-COLOR: #f0f8ff; OVERFLOW: auto
}
.dhx_tabbar_zone .dhx_tabcontent_zone {
	BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-TOP: #ffffff 0px solid; BORDER-RIGHT: #ffffff 1px solid
}
.dhx_tabbar_zoneB .dhx_tabcontent_zone {
	BORDER-BOTTOM: #ffffff 0px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid
}
.dhx_tabbar_zoneV .dhx_tabcontent_zone {
	BORDER-BOTTOM: #ffffff 1px solid; POSITION: absolute; BORDER-LEFT: #ffffff 0px solid; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid; TOP: 0px
}
.dhx_tabbar_zoneVB .dhx_tabcontent_zone {
	BORDER-BOTTOM: #ffffff 1px solid; POSITION: absolute; BORDER-LEFT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #ffffff 0px solid; TOP: 0px; LEFT: 0px
}
.dhx_tab_element DIV {
	FONT-FAMILY: Tahoma; FONT-SIZE: 8pt
}
.dhx_tabbar_zoneB .dhx_tab_element DIV {
	BACKGROUND-POSITION: 50% bottom
}
.dhx_tabbar_zoneVB .dhx_tab_element DIV {
	BACKGROUND-POSITION: right 50%
}
.dhx_tab_element {
	POSITION: absolute; TEXT-ALIGN: center; FONT-FAMILY: Tahoma; FONT-SIZE: 8pt; OVERFLOW: hidden; CURSOR: pointer
}
.dhx_tabbar_zone .dhx_tab_element {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 3px
}
.dhx_tabbar_zoneB .dhx_tab_element {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.dhx_tabbar_zoneV .dhx_tab_element {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 0px
}
.dhx_tabbar_zoneVB .dhx_tab_element {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.dhx_tab_element_inactive {
	Z-INDEX: 4; FONT-WEIGHT: normal
}
.dhx_tabbar_zone .dhx_tab_element_inactive {
	MARGIN-TOP: 3px; MARGIN-LEFT: 0px
}
.dhx_tabbar_zoneB .dhx_tab_element_inactive {
	MARGIN-TOP: 0px; MARGIN-LEFT: 0px
}
.dhx_tabbar_zoneV .dhx_tab_element_inactive {
	MARGIN-TOP: 0px; MARGIN-LEFT: 3px
}
.dhx_tabbar_zoneVB .dhx_tab_element_inactive {
	MARGIN-TOP: 0px; MARGIN-LEFT: 0px
}
.dhx_tab_element_active {
	Z-INDEX: 6; BACKGROUND-COLOR: #f0f8ff; FONT-WEIGHT: bold
}
.dhx_tabbar_zoneB .dhx_tab_element_active {
	MARGIN-TOP: 0px
}
.dhx_tab_element_disabled {
	COLOR: silver; CURSOR: default
}
.dhx_tabbar_row {
	OVERFLOW: hidden
}
.dhx_tabbar_zone .dhx_tabbar_row {
	POSITION: relative; MARGIN-TOP: -5px
}
.dhx_tabbar_zoneB .dhx_tabbar_row {
	POSITION: relative; MARGIN-TOP: -5px
}
.dhx_tabbar_zoneV .dhx_tabbar_row {
	POSITION: absolute; MARGIN-TOP: 0px; MARGIN-LEFT: 0px; TOP: 0px
}
.dhx_tabbar_zoneVB .dhx_tabbar_row {
	POSITION: absolute; MARGIN-TOP: 0px; MARGIN-LEFT: 0px; TOP: 0px
}
.dhx_tablist_scroll {
	Z-INDEX: 6; POSITION: absolute; WIDTH: 32px; HEIGHT: 15px; CURSOR: pointer; RIGHT: 4px; TOP: 5px
}
.dhx_tabbar_zoneV .dhx_tabbar_row .dhx_tablist_scroll {
	WIDTH: 15px; HEIGHT: 32px
}
.dhx_tabbar_zoneVB .dhx_tabbar_row .dhx_tablist_scroll {
	WIDTH: 15px; HEIGHT: 32px
}
.dhx_tablist_line {
	Z-INDEX: 5; POSITION: absolute; BACKGROUND-COLOR: #ffffff; WIDTH: 100%; HEIGHT: 1px; OVERFLOW: hidden; LEFT: 0px
}
.dhx_tabbar_zoneB .dhx_tabbar_row .dhx_tablist_line {
	WIDTH: 100%; HEIGHT: 1px; LEFT: 0px
}
.dhx_tabbar_zoneV .dhx_tabbar_row .dhx_tablist_line {
	WIDTH: 1px; HEIGHT: 100%; TOP: 0px
}
.dhx_tabbar_zoneVB .dhx_tabbar_row .dhx_tablist_line {
	WIDTH: 1px; HEIGHT: 100%; TOP: 0px
}
.dhx_ajax_loader {
	MARGIN-TOP: 20px; FONT-FAMILY: Arial,Tahoma; MARGIN-LEFT: 10px; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
